In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [5]:
df = pd.read_csv("USA_Housing_Dataset.csv")

In [6]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-09 00:00:00,3.760000e+05,3.0,2.00,1340,1384,3.0,0,0,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103,USA
1,2014-05-09 00:00:00,8.000000e+05,4.0,3.25,3540,159430,2.0,0,0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014,USA
2,2014-05-09 00:00:00,2.238888e+06,5.0,6.50,7270,130017,2.0,0,0,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029,USA
3,2014-05-09 00:00:00,3.240000e+05,3.0,2.25,998,904,2.0,0,0,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117,USA
4,2014-05-10 00:00:00,5.499000e+05,5.0,2.75,3060,7015,1.0,0,0,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4136,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4137,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4138,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4139,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [7]:
#EXPLORING NUMERICAL AND CATEGORICAL VARIABLES

In [8]:
df.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [9]:
# Extracting column names with numerical data types from the dataframe
df.select_dtypes("number").columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'sqft_above', 'sqft_basement',
       'yr_built', 'yr_renovated'],
      dtype='object')

In [10]:
# Counting and sorting the unique values for each numerical column in descending order
df.select_dtypes("number").nunique().sort_values(ascending=False)

sqft_lot         2856
price            1625
sqft_living       549
sqft_above        491
sqft_basement     205
yr_built          115
yr_renovated       60
bathrooms          24
bedrooms            9
floors              6
view                5
condition           5
waterfront          2
dtype: int64

In [11]:
# Separating between discrete and continuous variables, as discrete ones could potentially be treated as categorical.
potential_categorical_from_numerical = df.select_dtypes("number").loc[:, df.select_dtypes("number").nunique() < 25]
potential_categorical_from_numerical

      bedrooms  bathrooms  floors  waterfront  view  condition
0          3.0       2.00     3.0           0     0          3
1          4.0       3.25     2.0           0     0          3
2          5.0       6.50     2.0           0     0          3
3          3.0       2.25     2.0           0     0          3
4          5.0       2.75     1.0           0     0          5
...        ...        ...     ...         ...   ...        ...
4135       3.0       1.75     1.0           0     0          4
4136       3.0       2.50     2.0           0     0          3
4137       3.0       2.50     2.0           0     0          3
4138       4.0       2.00     1.0           0     0          3
4139       3.0       2.50     2.0           0     0          4

[4140 rows x 6 columns]

In [12]:
#note:waterfront is a boolean.

In [13]:
print(df['bathrooms'].nunique())

24

In [14]:
df_categorical = pd.concat([df.select_dtypes("object"), potential_categorical_from_numerical], axis=1)

In [15]:
df_categorical

,date,street,city,statezip,country,bedrooms,bathrooms,floors,waterfront,view,condition
0,2014-05-09 00:00:00,9245-9249 Fremont Ave N,Seattle,WA 98103,USA,3.0,2.00,3.0,0,0,3
1,2014-05-09 00:00:00,33001 NE 24th St,Carnation,WA 98014,USA,4.0,3.25,2.0,0,0,3
2,2014-05-09 00:00:00,7070 270th Pl SE,Issaquah,WA 98029,USA,5.0,6.50,2.0,0,0,3
3,2014-05-09 00:00:00,820 NW 95th St,Seattle,WA 98117,USA,3.0,2.25,2.0,0,0,3
4,2014-05-10 00:00:00,10834 31st Ave SW,Seattle,WA 98146,USA,5.0,2.75,1.0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...
4135,2014-07-09 00:00:00,501 N 143rd St,Seattle,WA 98133,USA,3.0,1.75,1.0,0,0,4
4136,2014-07-09 00:00:00,14855 SE 10th Pl,Bellevue,WA 98007,USA,3.0,2.50,2.0,0,0,3
4137,2014-07-09 00:00:00,759 Ilwaco Pl NE,Renton,WA 98059,USA,3.0,2.50,2.0,0,0,3
4138,2014-07-10 00:00:00,5148 S Creston St,Seattle,WA 98178,USA,4.0,2.00,1.0,0,0,3
4139,2014-07-10 00:00:00,18717 SE 258th St,Covington,WA 98042,USA,3.0,2.50,2.0,0,0,4

In [16]:
# Adjusting the numerical dataframe by removing the moved columns
df_numerical = df.select_dtypes("number").drop(columns=potential_categorical_from_numerical.columns)

In [17]:
df_numerical

,price,sqft_living,sqft_lot,sqft_above,sqft_basement,yr_built,yr_renovated
0,3.760000e+05,1340,1384,1340,0,2008,0
1,8.000000e+05,3540,159430,3540,0,2007,0
2,2.238888e+06,7270,130017,6420,850,2010,0
3,3.240000e+05,998,904,798,200,2007,0
4,5.499000e+05,3060,7015,1600,1460,1979,0
...,...,...,...,...,...,...,...
4135,3.081667e+05,1510,6360,1510,0,1954,1979
4136,5.343333e+05,1460,7573,1460,0,1983,2009
4137,4.169042e+05,3010,7014,3010,0,2009,0
4138,2.034000e+05,2090,6630,1070,1020,1974,0
4139,2.206000e+05,1490,8102,1490,0,1990,0

In [18]:
# Retrieving column names with object (typically string) data types from the dataframe
df.select_dtypes("object").columns

Index(['date', 'street', 'city', 'statezip', 'country'], dtype='object')

In [19]:
# Counting and sorting the unique values for each object (string) column in descending order
df.select_dtypes("object").nunique().sort_values(ascending=False)

# All columns seem categorical, as there isn't a wide variability of values.

street      4079
statezip      77
date          68
city          43
country        1
dtype: int64

In [20]:
# Verifying that the total number of columns in the dataframe is the sum of object (string) and numerical columns
len(df.columns) == len(df.select_dtypes("object").columns) + len(df.select_dtypes("number").columns)

True

In [21]:
#DATA CLEANING

In [22]:
# Checking for missing data
df.isnull().sum().sort_values(ascending=False)

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [23]:
df.columns[df.isnull().mean() > 0.8] #there are no missing values.

Index([], dtype='object')

In [24]:
# Removing the "date" column from the dataframe because it doesn't give any real insight.
df.drop("date", inplace=True, axis=1)

In [25]:
#checking for duplicates
duplicates = df.duplicated(subset=["statezip", "price", "bedrooms", 'yr_built', 'street', 'sqft_above'], keep=False)
print(f"Found {duplicates.sum()} potential duplicates.")

Found 2 potential duplicates.

In [26]:
df.duplicated().sum()

np.int64(0)

In [27]:
#UNIVARIATE ANALYSIS

In [28]:
#Categorical Variables
#Frequency table for bedrooms
frequency_table_bedroom = df['bedrooms'].value_counts()

In [29]:
frequency_table_bedroom

bedrooms
3.0    1833
4.0    1382
2.0     500
5.0     317
6.0      56
1.0      37
7.0      11
8.0       2
0.0       2
Name: count, dtype: int64

In [30]:
bedrooms_table = pd.crosstab(index = df_categorical['bedrooms'],  # Make a crosstab
                              columns="count")      # Name the count column
bedrooms_table

col_0     count
bedrooms
0.0           2
1.0          37
2.0         500
3.0        1833
4.0        1382
5.0         317
6.0          56
7.0          11
8.0           2

In [31]:
#Approx. 44 percent of the houses have 3 bedrooms, whereas 12 percent of the houses have 2 bedrooms.

In [32]:
frequency_table_waterfront = df['waterfront'].value_counts()

In [33]:
proportion_waterfront=(waterfront_table/waterfront_table.sum()).round(2)
proportion_waterfront

NameError: name 'waterfront_table' is not defined

In [ ]:
#99 percent of the houses have no waterfront. Only one percent of the houses have a waterfront.

In [ ]:
waterfront_table = pd.crosstab(index = df_categorical['waterfront'],  # Make a crosstab
                              columns="count")      # Name the count column
waterfront_table

In [ ]:
frequency_table_condition = df['condition'].value_counts()

In [ ]:
frequency_table_condition

In [ ]:
condition_table = pd.crosstab(index = df_categorical['condition'],  # Make a crosstab
                              columns="count")      # Name the count column
condition_table

In [ ]:
proportion_condition=(condition_table/condition_table.sum()).round(2)
proportion_condition

In [ ]:
#63 percent of the houses of a condition of 3 whereas 10 percent of the houses have a condition of 5.

In [ ]:
#Insights: The most common house condition is 3 with 2596 houses, whereas the 3 bedroom houses are the most common.1833 houses have 3 bedrooms.
#Waterfront houses are not common. There are only 31 waterfront houses.

In [ ]:
#Calculating proportions:

In [ ]:
sns.barplot(x=frequency_table_bedroom.index, y=frequency_table_bedroom.values, palette="Set3")
plt.show();

In [ ]:
frequency_table_bedroom.plot.pie(autopct='%1.1f%%', startangle=00, colors=sns.color_palette("Set3"))
plt.title('Bedroom Distribution')
plt.figure(figsize=(100,100))
plt.show()

In [ ]:
#Insights: The average mean price of the houses in the dataset are approx

In [ ]:
df["price_USD"] = df["price"].map("${:,.2f}".format)

In [ ]:
df.drop("price_USD", inplace=True, axis=1)

In [ ]:
df["price"] = df["price"].round(2)

In [ ]:
df

In [ ]:
unique_years = df['yr_built'].unique()
print(unique_years)

In [ ]:
# The average (mean) sale price of the houses in the dataset is approximately $553,062.90.
#The median sale price (middle value when sorted) stands at $460,000.00. The median is lower than the mean, suggesting a skew in the distribution
#of sale prices towards higher values. 
#Std deviation is approx $583,686.50 which is higher than the mean, suggesting high variability of prices from the average price.
#The average price is not a reliable indicator for individual house prices.
#Minimum sales price is 0 whereas max sales price is

In [ ]:
df = df[df['price'] != 0]

In [ ]:
df['price'] = df['price'].round(4)

In [ ]:
# Summary statistics for the dataset
df.describe()

In [ ]:
df

In [ ]:
# The average (mean) sale price of the houses in the dataset is approximately $559,687.2.
#The median sale price (middle value when sorted) stands at $464,600.00. The median is lower than the mean, suggesting a skew in the distribution
#of sale prices towards higher values. 
#Std deviation is approx $584,006.00 which is higher than the mean, suggesting high variability of prices from the average price.
#The average price is not a reliable indicator for individual house prices.
#Minimum sales price is  whereas max sales price is $7,800.00 whereas the max sales price is $26.59 million.

In [ ]:
sns.histplot(df['price'], kde=True, bins=30, color="salmon")
plt.show()

In [ ]:
sns.boxplot(data = df['price'], color="lightblue")
plt.show()

In [ ]:
def tukeys_test_outliers(df):
    Q1 = df['price'].quantile(0.25)
    Q3 = df['price'].quantile(0.75)
    IQR = Q3 - Q1
    
    # Define bounds for the outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Identify the outliers
    outliers = df['price'][(df['price'] < lower_bound) | (df['price'] > upper_bound)]
    
    return outliers, lower_bound, upper_bound

In [ ]:
IQR = Q3 - Q1 
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify the outliers
outliers = df['price'][(df['price'] < lower_bound) | (df['price'] > upper_bound)]

In [ ]:
len(outliers)

In [ ]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
Q1, Q3

In [ ]:
tukeys_test_outliers(df)

In [ ]:
negatives = df[df['price'] < 0]
print(f"Negative prices:\n{negatives}")

In [ ]:
#filtering out the outliers
df_filtered = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]

In [ ]:
sns.boxplot(data = df_filtered['price'], color="lightblue")
plt.gca().yaxis.set_major_formatter('${x:,.0f}')
plt.show()

In [ ]:
sns.histplot(df_filtered['price'], kde=True, bins=30, color="salmon")
plt.gca().xaxis.set_major_formatter('${x:,.0f}')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Discretizing 'SalePrice' into 4 categories
bins = [0, 300000, 600000, 1200000,df['price'].max()]
labels = ['Low', 'Medium', 'High', 'Very High']
df['SalePrice_category'] = pd.cut(df['price'], bins=bins, labels=labels, include_lowest=True)

In [ ]:
df.SalePrice_category.value_counts()

In [ ]:
#using violin plot to visualize the distribution of price across different conditions
sns.violinplot(data=df_filtered, x='condition', y='price', palette="coolwarm")
plt.gca().yaxis.set_major_formatter('${x:,.0f}')
plt.show()

In [ ]:
#The houses with better condition (3,4,5) have prices in the upper range. Category 5 has the highest median house price.
#For the house condition 1 majority of the houses are priced in the mid-lower range. 
#Condition 2 category has a more condensed price distribution, majority of the houses placed in the middle range.

In [ ]:
sns.barplot(data=df_filtered, x='condition', y='price', palette="coolwarm")
plt.show()

In [ ]:
#category 5 has the highest average price, category 1 has the lowest average house price among all the categories.

In [ ]:
#Calculate average price for each city
avg_price_city=df_filtered.groupby('city')['price'].mean()

In [ ]:
avg_price_city

In [ ]:
top_10_df = avg_price_city.sort_values(ascending=False).head(10).reset_index()
top_10_df.columns = ['city', 'avg_price']  # Rename columns

# Now plot with seaborn
sns.barplot(data=top_10_df, x='city', y='avg_price', palette="Set3")
plt.xticks(rotation=90)
plt.ylabel("Average House Price")
plt.show()

In [ ]:
#Scatter-Plot for price and sqft living area

In [ ]:
sns.scatterplot(data=df_filtered, x='sqft_living', y='price')
plt.gca().yaxis.set_major_formatter('${x:,.0f}')
plt.show()

In [ ]:
# Calculating the Pearson correlation coefficient between 'SalePrice' and 'GrLivArea' columns
correlation = df['price'].corr(df['sqft_living'])
correlation

In [ ]:
correlation = df_filtered['price'].corr(df['sqft_living'])
correlation

In [ ]:
# Calculating the Spearman rank correlation between 'SalePrice' and 'GrLivArea' 
correlation = df['price'].corr(df['sqft_living'], method='spearman')
correlation

In [ ]:
correlation = df_filtered['price'].corr(df['sqft_living'], method='spearman')
correlation

In [ ]:
# Calculating the Spearman correlation coefficients between 'SalePrice' and all other numerical variables
spearman_correlations = df_numerical.corrwith(df['price'], method='spearman')

# Sorting the correlations for better visualization
spearman_correlations_sorted = spearman_correlations.sort_values(ascending=False)

# Displaying the correlations
spearman_correlations_sorted

In [ ]:
correlation_matrix = df_numerical.corr()

# Setting up the matplotlib figure with an appropriate size
plt.figure(figsize=(18, 15))

# Drawing the heatmap for the numerical columns
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm")

plt.title("Correlation Heatmap for Selected Numerical Variables")
plt.show()

In [ ]:
df.to_csv("cleaned_US_housing_data.csv", index=False)

In [ ]:
sns.scatterplot(data=df_filtered, x='yr_built', y='price')
plt.gca().yaxis.set_major_formatter('${x:,.0f}')
plt.show()

In [ ]:
sns.scatterplot(data=df_filtered, x='yr_renovated', y='price')
plt.gca().yaxis.set_major_formatter('${x:,.0f}')
plt.show()

In [ ]:
sns.scatterplot(data=df_filtered, x='sqft_above', y='price')
plt.gca().yaxis.set_major_formatter('${x:,.0f}')
plt.show()

In [ ]:
# Plotting a line graph to visualize the trend of average 'SalePrice' across different 'YearBuilt'
plt.figure(figsize=(14, 7))
sns.lineplot(data=df_filtered, x='yr_built', y='price', ci=None)
plt.title('Average Sale Price over Years of Construction')
plt.grid(True, which='both', linestyle='--', linewidth=0.5)
plt.show()

In [ ]:
sns.boxplot(data=df_filtered, x='condition', y='sqft_above', palette="coolwarm")
plt.show()

In [ ]:
#water front houses and price
# Calculate average prices
avg_prices = df.groupby('waterfront')['price'].mean().reset_index()
avg_prices['waterfront'] = avg_prices['waterfront'].map({0: 'Non-Waterfront', 1: 'Waterfront'})  # Convert labels
print(avg_prices)

In [ ]:
sns.barplot(data=avg_prices, x='waterfront', y='price', palette="coolwarm")
plt.gca().yaxis.set_major_formatter('${x:,.0f}')
plt.show()

In [ ]:
df_filtered.to_csv("cleaned_US_housing_data.csv", index=False)

In [ ]:
price_stats = df['price'].describe()
print(price_stats)